$orange: #F46244;
$orange-light: #FF724B;
$light-blue: #E3F1F6;
$gray: #4B575C;

$big-desktop: 1349px;
$desktop: 1199px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;
$iphone-5: 320px;

// @include breakpoint($desktop) {

// }