.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;

  &--brif {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include breakpoint($laptop) {
    padding-left: 65px;
    padding-right: 65px;
  }

  @include breakpoint($tablet) {
    padding-left: 45px;
    padding-right: 45px;
  }
}