.text-block {
  background-color: $light-blue;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include breakpoint($desktop) {
    padding: 5rem 3rem;
  }

  @include breakpoint($laptop) {
    padding: 3rem 3rem;
  }
}

.text-block__title {
  text-align: center;
  font-size: 3rem;
  font-family: Futura;
  font-weight: 300;
  color: $gray;
  line-height: 1.2;
  letter-spacing: 0.2rem;

  @include breakpoint($tablet) {
    font-size: 2.3rem;
    line-height: 1.3;
    letter-spacing: .1rem;
  }
}